<!DOCTYPE html>
<html>
    <head>
    <title>Paper Scraper</title>
    <link rel="icon" href="assets/images/newspaper_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/style/style.css">
    </head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue darken-3">
                <a href="/" class="brand-logo"><i class="material-icons">Loop</i>Paper scraper</a>
                <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="https://www.reuters.com/" target="_new">The News</a></li>
                    <li><a href="https://github.com/sajijacob/webscraper" target="_new">Github Repo</a></li>
                </ul>
            </div>
        </nav>
    </div>
<ul class="side-nav darken-3" id="mobile-demo">
  <li><a href="https://www.reuters.com/" target="_new">The News</a></li> 
  <li><a href="https://github.com/sajijacob/webscraper" target="_new">Github Repo</a></li> 
</ul>
<main>
    <div class="container">
    <ul class="collection with-header">
        <li class="collection-header blue lighten-2"><h4><b>Welcome to Paper Scraper!</b></h4></li>
        <li class="collection-item">This application lets you read and comment on news articles that were scrapped from the Reuters.</li>
        <li class="collection-item"><div>Click <i class="material-icons">loop</i> in the navbar to re-scrape data.</div></li>
        <li class="collection-item"><div>Click <i class="material-icons">language</i> to view an article.</div></li>
        <li class="collection-item"><div>Click <i class="material-icons">comment</i> to add a comment.</div></li>
        <li class="collection-item"><div>Click <i class="material-icons">thumbs_up_down</i> to read comments.</div></li>
    </ul>
    </div>

    <!--to reneder all articles -->
    <div class="container">
        {{{body}}}
    </div>
</main>
<footer class="page-footer blue darken-3">
    <div class="footer-copyright">
        <div class="container">
           all articles are scraped from <a class="blue-text text-lighten-4" href="https://www.reuters.com/">"The Reuters"</a>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/javascript/app.js"></script>
</body>

</html>

